@font-face{
    font-family: SoundgardenBadmotorfont;
    src: url("../src/SoundgardenBadmotorfont.ttf");
}

body{
    margin: 0;
    padding: 0;
}

.mp3player{
    width: 100%;
    height: 100%;
    background: transparent;
}

.mp3player__infocontainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 800px;
    height: 200px;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -400px;
    animation: fadeIn 3s;
    transition: .5s;
}

.mp3player__usertitle{
    font-family: "SoundgardenBadmotorfont";
    font-style: normal;
    font-weight: normal;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #818181;
    font-size: 50px;
}

.mp3player__text{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    text-align: center;
    color: #818181;
    margin-bottom: 20px;
}

.mp3player__analyzerrender{
    width: 100%;
    height: 100%;
    background: #131313;
    float: left;
}

.mp3player__audiobox{
    position: absolute;
    float: left;
    width: 500px;
    bottom: 10px;
    left: 50%;
    margin-left: -250px;
    outline: none;
    opacity: .03;
    transition: .5s;
    animation: fadeIn 3s;
}

.mp3player__audiobox--selected{
    opacity: 1;
    outline: none;
}

.mp3player__audiobox:hover{
    opacity: 1;
    transition: .5s;
}

audio{
    width: 100%;
    outline: none;
}

/* .mp3player__audio{
    width: 100%;
} */

.mp3player__button{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    padding: 1em 2em;
    background-color: transparent;
    color: #818181;
    border-radius: 5px;
    border-style: double;
    cursor: pointer;
    outline: none;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 10);
    border-color: #818181;
    transition: .5s;
    margin-top: 30px;
}

.mp3player__button:hover{
    background-color: #878686;
    color: #131313;
    transition: .5s;
}

.mp3player__refcontainer{
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 800px;
    height: 400px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -400px;
    animation: fadeIn 3s;
}

.mp3player__link{
    color: #fff;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}